<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini iForce</title>
  <link rel="stylesheet" href="/style.css">

  <a href="/"> <img src="https://uploads-ssl.webflow.com/5e8edfc11014dc69bd414ab2/5e8ee0991f827e4a4a0037d2_5e79f1f2104a8721b191cd13_Group%201093.png" srcset="https://uploads-ssl.webflow.com/5e8edfc11014dc69bd414ab2/5e8ee0991f827e4a4a0037d2_5e79f1f2104a8721b191cd13_Group%201093-p-500.png 500w, https://uploads-ssl.webflow.com/5e8edfc11014dc69bd414ab2/5e8ee0991f827e4a4a0037d2_5e79f1f2104a8721b191cd13_Group%201093-p-800.png 800w, https://uploads-ssl.webflow.com/5e8edfc11014dc69bd414ab2/5e8ee0991f827e4a4a0037d2_5e79f1f2104a8721b191cd13_Group%201093-p-1080.png 1080w, https://uploads-ssl.webflow.com/5e8edfc11014dc69bd414ab2/5e8ee0991f827e4a4a0037d2_5e79f1f2104a8721b191cd13_Group%201093.png 1481w" sizes="106.25px" alt="" class="brand-logo"></a>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/w3css/3/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">




</head>