
<nav>
    <a href="/"> Home </a> <p> | </p>
    <a href="/#about"> About us </a> <p> | </p>
    <a href="/#ContactUs"> Contact us </a><p> | </p>
    <a href="/signUp"> Sign up </a> <p> | </p>
    <a href="/login"> Login </a> 
    
</nav>